@import "variables";
// ##################################################
// ABOUT PAGE
// ##################################################

.flex-container {
    display: flex;
    background-color: white;
    justify-content: space-evenly;

    div {        
        width: 50px;
        margin: 10px;
        color: #1B2B40;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        text-decoration: none;
    }   
    .fa {
        background: white;
        color: #1B2B40;
    }
}