@import "variables";


.header {
    background-color: white;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: flex;
    float: right;
    width: 100%;
    z-index: 2;

    ul{
        margin: 0;
        padding:0;
        list-style:none;
        overflow: hidden;
        background-color: white;
        }

    ul a{
        display: block;
            /*  outline: 1px solid red;*/
        padding: 20px;
            /*   border-right: 1px solid grey;*/
        text-decoration: none;
        }

    ul a:hover{
        background-color: #C4DDF2;
        color:$beige;
        }

    .menu{
        clear: both;
        max-height:0;
        transition:max-height .2s ease-out;
    
    .menu-icon{
        /*outline: 1px solid red;*/
        padding: 28px 20px;
        position: relative;
        cursor: [pointer];
        float: right;
        }

    .menu-icon .nav-icon{
        background: #333;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;  
        }

    .menu-icon .nav-icon:before {
        background: #333333;
        width: 100%;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: 5px;
        }
    
    .menu-icon .nav-icon:after {
        background: #333333;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        position: absolute;
        transition: all .2s ease-out;
        top: -5px;
    }
    .navbar-brand {
        float: left;
        display: block;
        font-size: 2em;
        padding:10px 20px;
    }

// ##################################################
// Navigation Animation
// ##################################################


.header 
    .menu-btn {
        display: none;
        }
    .menu-btn:checked ~ .menu{
        max-height: 600px;
        }      

    .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
        }
    .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top:0;
        }    

    .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top:0;
    }
}

// ##################################################
// MEDIA SCREEN
// ##################################################

@media (min-width: 48em){
.header {
    .li {
        float: left;
    }
    .li a{
        padding: 20px 30px;
        color:#3B4E59; 
    }
    .menu {
        clear: none;
        float: right;
        max-height: none;
    }   

    .menu-icon {
        display: none;
    }
}
